* {
  border: none;
  border-radius: 0;
  min-height: 0;

  font-family:
    Hack Nerd Font,
    sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: #181818;
  color: #fffff0;
}

tooltip {
  border: 2px solid #fffff0;
  background: #181818;
}

tooltip label {
  color: #fffff0;
}

#workspaces button {
  padding: 4px 20px;
  color: #c2c2c2;
  box-shadow: inset 0 -4px #303030;
}

#workspaces button.focused {
  background-color: #303030;
  color: #fffff0;
  box-shadow: inset 0 -3px #50c878;
}

#workspaces button.urgent {
  background-color: #c85064;
  color: #181818;
}

#mode {
  padding: 0 10px;
  background-color: #fffff0;
  color: #181818;
}

#pulseaudio,
#idle_inhibitor,
#network,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#battery {
  padding: 0 8px;
  margin: 0 6px;
}

#tray {
  margin: 0 8px;
}

#idle_inhibitor {
  padding-right: 14px;
  box-shadow: inset 0 -2px #303030;
}

#idle_inhibitor.activated {
  box-shadow: inset 0 -2px #50c878;
}

#temperature.critical {
  box-shadow: inset 0 -2px #c85064;
}

#battery {
  box-shadow: inset 0 -2px #50c878;
}

#battery.charging {
  box-shadow: inset 0 -2px #5064c8;
}

#battery.plugged {
  box-shadow: inset 0 -2px #50a0c8 !important;
}

#battery.warning:not(.charging):not(.plugged) {
  box-shadow: inset 0 -2px #c8b450;
}

#battery.critical:not(.chraging):not(.plugged) {
  box-shadow: inset 0 -2px #c85064;
}
